<h1>カートページ</h1>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<tbody>
	<tr>
		<td>
			<div>
				<h2>買い物かご<</h2>
			</div>

			<div>
				<table>
					<tbody>
						<tr>
							<th>imag</th>
							<th>
								<p>アーティスト名</p>
							    <p>ジャンル</p>
							</th>
							<th>商品名</th>
							<th>数量</th>
							<th>価格</th>
							<th>
								<p>この商品を購入</p>
								<p>カートから出す</p>
							</th>
						</tr>

					</tbody>
				</table>

				<div>
					<div>
						<a>まとめて購入</a>
					</div>
					<div>
						<a>買い物を続ける</a>
						<a>お問い合わせ</a>
					</div>
				</div>
			</div>	
		</td>
	</tr>

</tbody>
</html>